/* general formatting idk why its here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* overall page layouts */
body {
    color: #333333;
    display: flex;
    /* padding: 0 10px; */
    /* align-items: center;  //this shit makes everything too low*/
    align-items: center;
    /* justify-content: center; */
    /* min-height: 100vh; */
    background: #D7CEC7;
}

ul {
    margin: 0;
}

/* used for highlighting */
::selection{
    color: #fff;
    background: #D7CEC7;
}

/* round edges for tables */
.round {
    border-radius: 10px;
}

/* navbar links */
.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

/* navbar links on hover */
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* profile stuff */
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.account-heading {
    font-size: 2.5rem;
}

/* i don't think this does anything, but not going to risk it anymore */
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

/* content section that is rarely used */
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-top: 10%;
}

.stats-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* typing box */
.wrapper{
    margin-top: 20%;
    /* width: 770px; */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}

/* invisible box to type stuff */
.wrapper .input-field{
    opacity: 0;
    z-index: -999;
    position: absolute;
}

/* bottom text */
.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}

/* words to type */
.content-box .typing-text{
    overflow: hidden;
    max-height: 164px;
    min-height: 164px;
    position: relative;
}

/* scrollbar hidden */
.typing-text::-webkit-scrollbar{
    width: 0;
}

/* words in typing-text */
.typing-text p{
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: initial;
    color: lightgrey;
    position: relative;
    /* top: 0px; change in increments of 31.5 */
}

/* letters in typing-text */
.typing-text p span{
    position: relative;
}

/* correct letters/incorrect */
.typing-text p span.correct{
    color: #333333;
}
.typing-text p span.incorrect{
    color: #cb3439;
    /* outline: 1px solid #fff; */
    background: #ffc0cb;
    /* border-radius: 4px; */
}

/* highlighted letters */
.typing-text p span.active{
    /* color: #333333; */
    border-left: 2px solid rgba(0,0,0,1);
    animation: flash 1s ease-in-out infinite;
}
/* .typing-text p span.active::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #333333;
    animation: blink 1s ease-in-out infinite;
} */
/* animation */
/* @keyframes blink{
    50%{ 
        opacity: 1; 
    }
} */
@keyframes flash{
    50%{
        border-color: rgba(0,0,0,0);
    }
}
/* content for non typing pages */
.content-box .content{
    margin-top: 17px;
    display: flex;
    padding: 12px 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}
/* .content button{
    outline: none;
    border: none;
    width: 105px;
    color: #fff;
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #17A2B8;
    transition: transform 0.3s ease;
} */
/* .content button:active{
    transform: scale(0.97);
} */

/* results */
.content .result-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.result-details li{
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}
.result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #bfbfbf;
}
.result-details li p{
    font-size: 19px;
}
.result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
}

.result-details li.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.invisible {
    color: transparent
}

li span b{
    font-weight: 500;
}
li:not(:first-child) span{
    font-weight: 500;
}

/* formatting for different devices */
@media (max-width: 745px) {
    .wrapper{
        padding: 20px;
    }
    .content-box .content{
        padding: 20px 0;
    }
    .content-box .typing-text{
        max-height: 100%;
    }
    .typing-text p{
        font-size: 19px;
        text-align: left;
    }
    .content button{
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }
    .content .result-details{
        width: 100%;
    }
    .result-details li:not(:first-child){
        border-left: 0;
        padding: 0;
    }
    .result-details li p, 
    .result-details li span{
        font-size: 17px;
    }
}
@media (max-width: 518px) {
    .wrapper .content-box{
        padding: 10px 15px 0;
    }
    .typing-text p{
        font-size: 18px;
    }
    .result-details li{
        margin-bottom: 10px;
    }
    .content button{
        margin-top: 10px;
    }
}