{% extends "type/base.html" %}
{% load static %}
{% block content%}
    <div class="wrapper">
        <input type="text" class="input-field">
        <div class="content-box">
            <div class="typing-text">
                <p></p>
            </div>
            <div class="content">
                <ul class="result-details">
                    <li class="time">
                        <p>time left:</p>
                        <span><b>15</b></span>
                    </li>
                    <li class="wpm">
                        <p>wpm:</p>
                        <span>0</span>
                    </li>
                    <li class="raw">
                        <p>raw:</p>
                        <span>0</span>
                    </li>
                    <li class="accuracy">
                        <p>accuracy:</p>
                        <span>0%</span>
                    </li>
                    <li class="errors">
                        <p>errors:</p>
                        <span>0</span>
                    </li>
                    <li class="cpm">
                        <p>chars:</p>
                        <span>0</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <ul class="result-details">
                    <li class="mode">
                        <p>mode:</p>
                        <span><b>time 15</b></span>
                    </li>
                    <li>
                        <span><button class="btn btn-secondary type-time">time</button></span>
                        <span><button class="btn btn-light type-words">words</button></span>
                        <span><button class="btn btn-light type-sentences">sentences</button></span>
                    </li>
                    <li>
                        <span><button class="btn btn-secondary amt-15">15</button></span>
                        <span><button class="btn btn-ligth amt-30">30</button></span>
                        <span><button class="btn btn-light amt-45">45</button></span>
                        <span><button class="btn btn-light amt-60">60</button></span>
                        <span><button class="btn btn-light amt-90">90</button></span>
                        <span><button class="btn btn-light amt-120">120</button></span>
                    </li>
                </ul>
                <button class="btn btn-primary try-again">try again</button>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" defer></script>
    <script src="{% static 'type/words.js' %}"></script>
    <script src="{% static 'type/script.js' %}"></script>
{% endblock content%}
