{% extends "type/base.html" %}
{% load static %}
{% block content%}
    <div class="content-section">
        <div id="container">
            <canvas id="pie-chart"></canvas>
        </div>
        <table class="table table-hover table-striped bg-light">
            <thead>
            <tr>
                <th scope="col">wpm</th>
                <th scope="col">raw</th>
                <th scope="col">accuracy</th>
                <th scope="col">mode</th>
                <th scope="col">user</th>
                <th scope="col">date</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.wpm_total }}</td>
                    <td>{{ object.wpm_raw }}</td>
                    <td>{{ object.accuracy }}%</td>
                    <td>{{ object.mode }}</td>
                    <td>{{ object.author.username }}</td>
                    <td>{{ object.time }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            {% if object.author == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'stat-update' object.id %}">update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'stat-delete' object.id %}">delete</a>
            {% endif %}
        </div>
    </div>
    
    <script>
        let graph_wpm = [];
        let graph_date = [];
        "{% for wpm in graph_wpm %}"
            graph_wpm.push("{{ wpm }}");
        "{% endfor %}"
        "{% for date in graph_date %}"
            graph_date.push(new Date("{{ date }}"));
        "{% endfor %}"
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static 'type/stats.js' %}"></script>
{% endblock content%}