{% extends "type/base.html" %}
{% block content%}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">wpm</th>
            <th scope="col">raw</th>
            <th scope="col">accuracy</th>
            <th scope="col">mode</th>
            <th scope="col">user</th>
            <th scope="col">date</th>
        </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
                <tr>
                    <td>{{ stat.wpm_total }}</td>
                    <td>{{ stat.wpm_raw }}</td>
                    <td>{{ stat.accuracy }}%</td>
                    <td>{{ stat.mode }}</td>
                    <td>{{ stat.author }}</td>
                    <td>{{ stat.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock content%}