{% extends "type/base.html" %}
{% load static %}
{% block content%}
    
    <div class="content-section">
        <div class="container text-center">
            <div class="row justify-content-center my-4">
                <div class="col-md-4">
                    <div class="card round text-center">
                        <div class="card-body">
                            <img class="rounded-circle stat-img" src="{{ image.url }}">
                        </div>
                        <div class="card-footer bg-secondary text-white">
                            {{ view.kwargs.username }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-item">
                        <h3><b>{{ avg_wpm_total }}</b></h3>
                        <p>average wpm</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-item">
                        <h3><b>{{ avg_wpm_raw }}</b></h3>
                        <p>average wpm raw</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-item">
                        <h3><b>{{ avg_accuracy }}</b>%</h3>
                        <p>average accuracy</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-item">
                        <h3><b>{{ max_wpm_total }}</b></h3>
                        <p>best wpm</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-item">
                        <h3><b>{{ max_wpm_raw }}</b></h3>
                        <p>best wpm raw</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-item">
                        <h3><b>{{ max_accuracy }}</b>%</h3>
                        <p>best accuracy</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-item">
                        <h3><b>{{ min_wpm_total }}</b></h3>
                        <p>worst wpm</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-item">
                        <h3><b>{{ min_wpm_raw }}</b></h3>
                        <p>worst wpm raw</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-item">
                        <h3><b>{{ min_accuracy }}</b>%</h3>
                        <p>worst accuracy</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="container">
            <canvas id="pie-chart"></canvas>
        </div>
        <table class="table table-hover table-striped bg-light round mt-4">
            <thead>
                <tr>
                    <th scope="col" style="border: none;">wpm</th>
                    <th scope="col">raw</th>
                    <th scope="col">accuracy</th>
                    <th scope="col">mode</th>
                    <th scope="col">user</th>
                    <th scope="col">date</th>
                    <th scope="col" style="border: none;">more</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat.wpm_total }}</td>
                        <td>{{ stat.wpm_raw }}</td>
                        <td>{{ stat.accuracy }}%</td>
                        <td>{{ stat.mode }}</td>
                        <td>{{ stat.author.username }}</td>
                        <td>{{ stat.time }}</td>
                        <td><a href="{% url 'stat-detail' stat.id %}" class="stretched-link">→</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-secondary mb-4" href="?page=1">first</a>
                <a class="btn btn-secondary mb-4" href="?page={{ page_obj.previous_page_number}}">previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3'  and num < page_obj.number|add:'3' %}
                    <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-secondary mb-4" href="?page={{ page_obj.next_page_number}}">next</a>
                <a class="btn btn-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        {% endif %}
    </div>
    
    <script>
        let graph_wpm = [];
        let graph_date = [];
        "{% for wpm in graph_wpm %}"
            graph_wpm.push("{{ wpm }}");
        "{% endfor %}"
        "{% for date in graph_date %}"
            graph_date.push(new Date("{{ date }}"));
        "{% endfor %}"
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static 'type/stats.js' %}"></script>
{% endblock content %}