asgiref==3.7.2
crispy-bootstrap4==2022.1
dj-database-url==2.1.0
Django==4.2.2
django-crispy-forms==2.0
gunicorn==21.2.0
packaging==23.1
Pillow==9.5.0
sqlparse==0.4.4
typing_extensions==4.6.3
whitenoise==6.5.0
